body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: white;
}

/* NAVBAR */
.navbar {
    background-color: #00cdd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.menu a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* CONTENT */
.container {
    text-align: center;
    padding: 40px;
}

.card {
    background-color: white;
    color: black;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
}

/* TABLE */
table {
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    color: black;
    width: 70%;
}

th, td {
    padding: 12px;
    border: 1px solid black;
}

th {
    background-color: #00cdd4;
}
